

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

<div class="about_top">
  <div class="container">
		<div class="col-md-3 about_sidebar">
            <ul class="menu1">
                <li class="item1">
                    <a class="">What To Buy ? </a>

                </li>
            </ul>

            <div class="box1">
                <ul class="box1_list">

                    <li><a href="~/Home/Sales">T-Shirts</a></li>

                </ul>
            </div>
		
		</div>
		<div class="col-md-9">
		   <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    
                    <li class="women">
                        Contact
                    </li>
               </ul>
                <ul class="previous">
                	<li><a href="~/Home/Index">Back to Home Page</a></li>
                </ul>
                <div class="clearfix"></div>
		   </div>
		    <div class="map">
			  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
			</div>
			<div class="contact_right">
					<h3>Catch me</h3>
                <form action="~/Home/SendEmail" method="post">
                    <div class="text">
                        <div class="text-fild">
                            <span>Name:</span>
                            <input type="text" name="name" class="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name here';}">
                        </div>
                        <div class="text-fild">
                            <span>Email:</span>
                            <input type="text" name="email" class="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email here';}">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="msg-fild">
                        <span>Subject:</span>
                        <input type="text" class="text" name="sub"  value="Your Subject here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Subject here';}">
                    </div>
                    <div class="message-fild">
                        <span>Message:</span>
                        <textarea name="msg" required> </textarea>
                    </div>
                    <div class="btn-toolbar form-group">
                        <input type="submit" id="contactFormSubmit" value="Send" class="btn btn-primary">
                        <input type="reset" value="Clear" class="btn btn-info">
                    </div>
                </form>
                @ViewBag.Message
	          </div>
	    </div>
	    <div class="clearfix"> </div>   	
    </div>   
</div>

  
</body>