



<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Suity an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Checkout :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Suity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="/Content/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.message').fadeOut('slow', function (c) {
                    $('.message').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close1').on('click', function (c) {
                $('.message1').fadeOut('slow', function (c) {
                    $('.message1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close2').on('click', function (c) {
                $('.message2').fadeOut('slow', function (c) {
                    $('.message2').remove();
                });
            });
        });
    </script>
</head>

<body>
    <div class="index-banner">
        <div class="container">
            <div class="header_top">
                <div class="logo">
                    <a href="~/Home/Index"><img src="~/Content/images/logo.png" alt="" /></a>
                </div>
               
                <div class="menu">
                    <a href="#" class="right_bt" id="activator"><img src="~/Content/images/menu.png" alt="" /></a>
                    <div class="box" id="box">
                        <div class="box_content_center">
                            <div class="menu_box_list">
                                <ul>
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li ><a href="~/Home/Login">Login</a></li>
                                    <li><a href="~/Home/Register">Register</a></li>
                                    <li><a href="~/Home/About">About Us</a></li>
                                    <li><a href="~/Home/Contact">Contact</a></li>
                                </ul>
                            </div>
                            <a class="boxclose" id="boxclose"><img src="~/Content/images/close.png" alt="" /></a>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var $ = jQuery.noConflict();
                        $(function () {
                            $('#activator').click(function () {
                                $('#box').animate({ 'left': '0px' }, 500);
                            });
                            $('#boxclose').click(function () {
                                $('#box').animate({ 'left': '-2300px' }, 500);
                            });
                        });
                        $(document).ready(function () {

                            //Hide (Collapse) the toggle containers on load
                            $(".toggle_container").hide();

                            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
                            $(".trigger").click(function () {
                                $(this).toggleClass("active").next().slideToggle("slow");
                                return false; //Prevent the browser jump to the link anchor
                            });

                        });
                    </script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="wmuSlider example1">
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <h1>Welcome</h1>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <h1>Check out our stuff!</h1>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <h1>It's awesome</h1>
                </div>
            </article>
        </div>
        <script src="~/Scripts/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>
    </div>
    <div class="content_top">
        <div class="container">
            <div class="col-md-3">
                <ul class="menu1">
                    <li class="item1">
                        <a class="">What To Buy ? </a>
                       
                    </li>
                </ul>
              
                <div class="box1">
                    <ul class="box1_list">

                        <li><a href="~/Home/Sales">T-Shirts</a></li>

                    </ul>
                </div>

            </div>
            <div class="col-md-9 content_right">
                <div class="client_box">

                </div>
                <div class="content_right-box">
                    <div class="col-md-8">
                        <div class="grid1">

                            <div class="view view-first">
                                <img src="~/Content/images/p1.jpg" class="img-responsive" alt="" />

                            </div>

                        </div>
                        <div class="grid1 box4">

                            <div class="view view-first">
                                <img src="~/Content/images/p2.jpg" class="img-responsive" alt="" />

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grid2">
                            <div class="view view-first">
                                <img src="~/Content/images/p3.jpg" class="img-responsive" alt="" />

                            </div>
                        </div>
                        <div class="grid2 span_1">
                            <div class="view view-first">
                                <img src="~/Content/images/p4.jpg" class="img-responsive" alt="" />

                            </div>
                        </div>
                        <div class="grid2 span_1">
                            <div class="view view-first">
                                <img src="~/Content/images/p5.jpg" class="img-responsive" alt="" />

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="box3">
                    <div class="col-md-4">
                        <div class="grid3 view view-first">
                            <img src="~/Content/images/p6.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grid3  view view-first">
                            <img src="~/Content/images/p7.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grid3 view view-first">
                            <img src="~/Content/images/p8.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="box4">
                    <div class="col-md-6">
                        <div class="grid1">

                            <div class="view view-first">
                                <img src="~/Content/images/p9.jpg" class="img-responsive" alt="" />

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="grid1">

                            <div class="view view-first">
                                <img src="~/Content/images/p9.jpg" class="img-responsive" alt="" />

                            </div>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>


</body>
<div class="footer">
    <div class="container">
        <img src="~/Content/images/f_logo.png" alt="" />
        <p><a href="mailto:info@mycompany.com">info(at)suity.com</a></p>
        <div class="copy">
            <p>© 2015 All Rights Reseverd </p>
        </div>
        <ul class="social">
            <li><a href="#"> <i class="fb"> </i> </a></li>
            <li><a href="#"> <i class="tw"> </i> </a></li>
        </ul>
    </div>
</div>
</body>
</html>

